user  nginx;
worker_processes  {{ nginx_worker_processes }};
{% if is_docker %}
daemon off;
{% endif %}
error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    ssl_dhparam {{ nginx_common_ssl_path }}/dhparams.pem;
    ssl_protocols {{ nginx_common_ssl_protocols }};
    ssl_ciphers '{{ nginx_common_ssl_ciphers }}';
    ssl_prefer_server_ciphers {{ 'on' if nginx_common_ssl_prefer_server_ciphers else 'off' }};

    {% if nginx_common_ssl_hsts_enabled -%}
    add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
    {% endif %}

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    {% if nginx_common_resolvers is defined -%}
    resolver {{ nginx_common_resolvers | join(' ') }};
    {% endif %}

    sendfile        on;
    tcp_nopush      on;
    tcp_nodelay     on;

    keepalive_timeout  30;

    gzip  on;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript font/opentype font/ttf application/font-woff application/vnd.ms-fontobject image/svg+xml;

    client_body_buffer_size 256k;

    fastcgi_temp_file_write_size 32m;
    fastcgi_busy_buffers_size 32k;
    fastcgi_buffer_size 32k;
    fastcgi_buffers 32 32k;
    fastcgi_connect_timeout 60;
    fastcgi_send_timeout 60;
    fastcgi_read_timeout 60;
    fastcgi_intercept_errors on;

    server_tokens off;

    include /etc/nginx/conf.d/*.conf;
}

